<ul class="app-nav">
    <li>
        <a href="" ng-click="goTo('/Lists')">
            <span class="ul-link-span">Lists</span>
        </a>
    </li>
    <li>
        <a href="" ng-click="goTo('/Upload')">
            <span class="ul-link-span">Upload</span>
        </a>
    </li>
</ul>
<div class="container-fluid">
    <p class="bg-info round-border">
        This sharepoint-hosted app is used for learning and testing rest endpoints when using sharepoint data.
        the data should be contained in the host web and accessed using rest />OData.  Use Fiddler to see what JSON is returned for further properties.
    </p>
</div>